body{
    /* background-color: #0e0e0e; */
    background-color: #0d1117;
}

.topLink:hover{
    color:white;/*iski vajese when we hover over it it appears white*/
}
.topLink{
    color : gray;
    cursor : pointer;
    padding-left :  10px;
}

.l1{
    color:white;
    /* background-color: pink; */
    /* margin : 0 auto; */
    
}
.l2{
    color:white;  
    /* background-color: palevioletred;   */
    max-width:640px;
    font-size: 18px;
}
.left{
    display:flex;
    /* justify-content:between; */
    flex-direction: column;
    /* background-color: blue; */
    /* margin: 0 auto; */
    flex-grow:1;

}

.right{
    color: white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: green; */
    flex-grow:2;
    width:100%;
    /* row-gap:28px; */

     /* gap: 1rem; */
}

.right img {
    height: 30px;
    width: auto;
}



.r{
    display:flex;
    /* justify-content:between; */
    align-items: center;
    gap:10px;
}

.GF{
    display:flex;
    justify-content:space-between;
    max-width:1200px;
    margin : 80px auto;/*Alligniing at centre whole div*/
    gap:60px; 

}
